<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="css/main.css">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicons/apple-touch-icon-152x152-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicons/apple-touch-icon-120x120-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="favicons/apple-touch-icon-76x76-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="favicons/apple-touch-icon-60x60-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicons//apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicons/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicons/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="64x64" href="favicons/favicon.png">
        <!--[if IE]><link rel="shortcut icon" href="favicons/favicon.ico"><![endif]-->
        <meta name="msapplication-square70x70logo" content="favicons/windows-tile-70x70.png">
        <meta name="msapplication-square150x150logo" content="favicons/windows-tile-150x150.png">
        <meta name="msapplication-square310x310logo" content="favicons/windows-tile-310x310.png">
        <meta name="msapplication-TileImage" content="favicons/windows-tile-144x144.png">
        <meta name="msapplication-TileColor" content="#C0C32C">

        <!-- uncomment takana if you are doing some in-browser styling -->
        <!--<script type="text/javascript" src="http://localhost:48626/takana.js"></script>-->

    </head>

    <body class="page {{#if shortcode}}page-{{shortcode}}{{/if}} {{#each bodyclass}}{{.}} {{/each}}">

        <!--[if lte IE 9]>
        <div class="browsehappy">
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        </div>
        <![endif]-->

        <header class="mainHeader" role="banner">
            <div class="constrained">
                <div class="siteTitle">{{site.title}}</div>
            </div>
        </header>

        <main class="main constrained" role="main">
        
            {{> body }}

        </main><!--/.main-->

        <footer class="mainFooter" role="contentinfo">
            <div class="constrained">

            </div>
        </footer>

    </body>
</html>