<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<!-- google webfonts -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,300italic,600,600italic,700,700italic,800,800italic" media="all" />

		<!-- Iconfont css from Icomoon -->
		<link rel="stylesheet" href="../../../../fonts/icomoon/style.css?{{ cacheBuster }}" media="all" />

		<!-- Minified and Concatenated Vendor CSS from bower -->
		<link rel="stylesheet" href="../../../../build/css/plugins.css?{{ cacheBuster }}" media="all" />

		<!-- Custom CSS -->
		<link rel="stylesheet" href="../../../../build/css/main.min.css?{{ cacheBuster }}" media="all" />
		
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->

		<!-- Takana (delete before moving to production) -->
		<script type="text/javascript" src="http://localhost:48626/takana.js"></script>
		<script type="text/javascript">
		  takanaClient.run({host: 'localhost:48626'});
		</script>

		<!-- Modernizr (must be in the head) -->
        <script src="../../../../build/js/modernizr.js"></script>

	</head>
	<body class="{{ bodyClass }}">

		<div class="PageWrapper">
	